<form class="edit-blog">
<div class="edit-blog-form-group">
<label class="edit-blog-form-label" for="article-title">Article Title:</label>
<textarea class="edit-blog-input" id="article-title">{{title}}</textarea>
</div>
<br>
<div class="edit-blog-form-group">
<label class="edit-blog-form-label" for="article-body">Blog:</label>
<textarea class="edit-blog-input" id="article-body">{{blog}}</textarea>
</div>
<br>
<button class="btn btn-primary" type="submit" id="update-post" value={{id}} >Update Post</button>
<button class="delete-post-buttton" type="submit" id="delete-post" value={{id}} >Delete Post</button>
</form>

