<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeqTok</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <nav>
    <a id="home-href" href="/">Home</a>
    {{#if loggedIn}}
    <a id="dashboard-href" href="/dashboard">Dashboard</a>
    <button id="logout">Logout</button>
    {{else}}
    <a id="signup-href" href="/signup">Sign Up!</a>
    <a id="login-href" href="/login">Login</a>
    {{/if}}
    <header>
      <h1>TeqTok</h1>
    </header>
  </nav>
  <main>
    <aside id="articles-landing">
      <div class="article">
        {{{body}}}
      </div>
    </aside>
    <div>
      <button id="addComment" type="submit" hidden></button>
      <button class="add-blog" type="submit" hidden></button>
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/comment.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/createArticle.js"></script>
  {{/if}}
</body>

</html>