<form class="add-blog">
<div class="edit-blog-form-group">
<label class="edit-blog-form-label" for="post-title">Article Title:</label>
<textarea class="edit-blog-input" id="article-title"></textarea>
</div>
<br>
<div class="edit-blog-form-group">
<label class="edit-blog-form-label" for="post-title">Blog:</label>
<textarea class="edit-blog-input" id="article-body"></textarea>
</div>
<br>
<button class="create-post-button" type="submit" id="add-post" >Create Post</button>
</form>
