{{#if loggedIn}}
<h1>Welcome to Your Dashboard</h1>
<ul>
{{#each articles as |article|}}
{{> edit-article-details }}
<br>
{{/each}}
</ul>
<a href="/add-article">
<button class="" id="add-post">Add Post</button>
</a>

{{else}}
<p>Please log in to view your dashboard.</p>
{{/if}}