{{#if loggedIn}}
<br>
<h1>👽 Welcome to your dashboard!
<a href="/add-article"><button class="btn btn-primary" id="add-post">Click Here to Add a New Post!</button></a>
</h1>
<br>
<ul>
{{#each articles as |article|}}
  <div id="blogs">
    <button class="collapsible">🌜 {{article.title}}</button>
    <div class="content">
      {{> edit-article-details }}
    </div>
  </div>
  <br>
{{/each}}
</ul>
{{else}}
<p>Please log in to view your dashboard.</p>
{{/if}}