:root {
    --primary: black;
    --secondary:  black;
    --tertiary: #743ad5;
    --quatrinary: #3ab1d5;
    --light: #f10678;
    --dark: rgb(8, 255, 37);
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  html {
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: var(--quatrinary);
  }


  #articles-landing, #login-href {
    color: #fff;
  }

  .article {
    border-radius: 25px;
    margin: 10px;
    font-size: 20px;
    padding: 30px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-color: #f10678;
    box-shadow: 10px 5px 5px #164452;
  }

  #blogs {
    border-radius: 25px;
    background-color: black;
    padding: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-color: #01ff4d;
    box-shadow: 10px 5px 5px #29154c;
  }

  .comment {
    color: black;
    background-color: rgb(244, 244, 215);
    padding: 10px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px #29154c;

  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  aside {
    flex: 0.80;
    background-color: var(--quatrinary);
    color: var(--light);
    height: 100vh;
  }

  .article {
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    
  }

  .post-title {
    color: #01ff4d;
  }
  
  nav, #logout {
    display: flex;
    background-color: var(--secondary);
  }
  
  nav a, #signup-href, #home-href, #dashboard-href, #logout {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover, #login-href:hover, #logout:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
   
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin-left: 40%;
    font-size: 20px;
    padding: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    background-image: linear-gradient(to right, #f10678, #01ff4d);
    border-image-source: linear-gradient(to left,#f10678, #01ff4d );
  }
  
  .signup-card {
    margin-left: 40%;
    font-size: 20px;
    padding: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    background-image: linear-gradient(to left, #fe0ab1, #01ff4d);
    border-image-source: linear-gradient(to left,#f10678, #01ff4d );
  }

  .edit-blog {
    font-size: 20px;
    padding: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    background-color: #29154c;
    /* background-image: linear-gradient(to left, #fe0ab1, #01ff4d); */
    /* border-image-source: linear-gradient(to right,#f10678, #01ff4d ); */
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }

  .edit-blog-form-group {
    margin-bottom: 10px;
}

.edit-blog-form-label {
  margin-bottom: 5px;
  color: white;
}

.edit-blog-input {
  height: 100px;
  width: 100%; 
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible.active {
  background-color: var(--light);
}

.content {
  display: none;
  overflow: hidden;
}
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }
  